<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffcs.demo.dao.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.ffcs.demo.entity.Goods" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="goods_detail" property="goodsDetail" jdbcType="VARCHAR" />
    <result column="search_count" property="searchCount" jdbcType="INTEGER" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="goods_pic" property="goodsPic" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="opr_id" property="oprId" jdbcType="INTEGER" />
    <result column="opr_date" property="oprDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_name, goods_type, category, goods_detail, search_count, goods_price, 
    goods_pic, remark, status, opr_id, opr_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ffcs.demo.entity.Goods" >
    insert into goods_info (goods_id, goods_name, goods_type, 
      category, goods_detail, search_count, 
      goods_price, goods_pic, remark, 
      status, opr_id, opr_date
      )
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, 
      #{category,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=VARCHAR}, #{searchCount,jdbcType=INTEGER}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{goodsPic,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{oprId,jdbcType=INTEGER}, #{oprDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffcs.demo.entity.Goods" >
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="goodsDetail != null" >
        goods_detail,
      </if>
      <if test="searchCount != null" >
        search_count,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsPic != null" >
        goods_pic,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="oprId != null" >
        opr_id,
      </if>
      <if test="oprDate != null" >
        opr_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null" >
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="searchCount != null" >
        #{searchCount,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPic != null" >
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="oprId != null" >
        #{oprId,jdbcType=INTEGER},
      </if>
      <if test="oprDate != null" >
        #{oprDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffcs.demo.entity.Goods" >
    update goods_info
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null" >
        goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="searchCount != null" >
        search_count = #{searchCount,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPic != null" >
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="oprId != null" >
        opr_id = #{oprId,jdbcType=INTEGER},
      </if>
      <if test="oprDate != null" >
        opr_date = #{oprDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffcs.demo.entity.Goods" >
    update goods_info
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      search_count = #{searchCount,jdbcType=INTEGER},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      opr_id = #{oprId,jdbcType=INTEGER},
      opr_date = #{oprDate,jdbcType=TIMESTAMP}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <select id="selectALL" resultMap="BaseResultMap">
    select * from goods_info
  </select>
</mapper>
